<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h3>Error </h3>
        <p>Status: <%= status %></p>
        <p>Message: <%= message %></p>
        <p>StackTrace: <%= error %></p>
    </body>
</html>